.categories-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.categories-container button {
    width: 15rem;
    margin: 1rem;
}

.row {
    width: 80%;
    display: flex;
    justify-content: center;
   

}