.newList-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.newList-container input {
    width: 20rem;
    margin: 1rem;
}

.newList-container button {
    margin: 1rem;
}